html {
	color-scheme: light dark;
}


body {
	/*background-color:#eaf3da; */ /* 整个页面颜色为“淡绿色” */

	font-family: KaTeX_Main,Times New Roman,serif, Roboto, Verdana, Geneva, Tahoma, sans-serif, PMingLiU;

	font-size: 16px;

	max-width: 800px;
	padding: 20px;
	margin: auto;
	line-height: 1.5;
}




h2 {
	color: maroon;
	margin-top: 1.5em;
}

/* 一、二级标题为“茶红色” */

h1 {
	color: maroon;
	border-bottom: 1px solid black;
}

/* 一级标题有一条 1像素宽+黑色+实心 下划线 */


q {
	color: #212F3C;
}


a {
	color: #CD5C5C; /* 链接颜色 */
	text-decoration: none;  
}

a:hover {
	color: var(--link-color);
	text-decoration: underline;
	text-decoration-style: solid;
}

a:visited:hover {
	color: #fb5012f0;
}



blockquote{
	margin:0 0 1em 0;
	padding:0 10px;
	color:#808080
} 


ul {
	margin-top: 10px;
	padding-left: 20px;
}

ol {
	padding-left: 20px;
}


footer a {
	color: #808080;
}


footer{
	text-align: center;
	margin:0.5em 0 0 0;
	border-top:5px double #ccc;
	padding: 0.5em 0 0 0;
	font-size:80%;
	color:#999;
}

figure {
	text-align: center;
}


/* 小型大写-字体*/
.textsc {
	font-variant-caps: small-caps;
}


/* ================================== */
/*设置back to top按钮*/
#back_to_top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	border: none;

}

/*设置back to bot按钮*/
#back_to_bot {
	position: fixed;
	top: 10px;
	right: 10px;
	border: none;

}


/*设置back to bot按钮*/
#latex {
	position: fixed;
	top: 50%;
	right: 10px;
	border: none;

}
/* =============================== */


/*下面规则去掉链接的边框*/
#back_to_bot a,
img {
	border: none;
}

/*下面规则去掉链接的边框*/
#back_to_top a,
img {
	border: none;
}