body { 
	/* 整个页面颜色为“淡绿色” */
	background-color:#eaf3da;
	
	padding: 8px;
		}


h1,h2 {
	color:maroon;
}
/* 一、二级标题为“茶红色” */

h1 { 
	border-bottom: 1px solid black;
}
/* 一级标题有一条 1像素宽+黑色+实心 下划线 */




/*设置back to top按钮*/
#back_to_top {
	position: fixed;
	bottom: 10px;
	right:20px
}

/*下面规则去掉链接的边框*/
#back_to_top a,img {
    border: none;
}


footer {
    text-align: center;
	foot-size: 20px;
	margin: 10px;
}
